.accordian_prop {
    padding-left: 2em;
    padding-right: 2em;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("https://www.w3schools.com/w3css/img_lights.jpg") top center !important;
  background-size: cover;
  position: relative;
}