#hero {
  width: 100%;
  height: 75vh;
  background: url("../../assets/img/services.jpg") top center !important;
  background-size: cover;
  position: relative;
}

.service_content {
	text-align: initial;
    font-weight: 600;
    padding-top: 15px !important;
    margin-left: -30px !important;
}

ol, ul, dl {
	text-align: initial !important;
    font-weight: 600 !important;
    padding-top: 15px !important;
    margin-left: -30px !important;
}

.service_content_to_display{
	font-size: xx-large;
	font-weight: 700;
}