<!-- <div>
	<video id="device" controls autoplay #remote>
	</video>
	<video id="me" controls autoplay #me></video>
</div>
<button mat-raised-button color="primary" (click)="showRemote()" [disabled]="callActive">Connect</button>
<button mat-raised-button color="warn" (click)="hangup()" [disabled]="!callActive">Disconnect</button> -->


<video #localVideo playsinline autoplay muted></video>
<video #remoteVideo playsinline autoplay></video>
<div>
      <button #startButton [disabled]="startButtonDisabled" (click)="start()">Start</button>
      <button #callButton [disabled]="callButtonDisabled" (click)="call()">Call</button>
      <button #hangupButton [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
</div>