<div class="wrapper">
  <div class="content">
    <form class="login-form" fxFlex [formGroup]="loginForm" (submit)="onLogin()">
      <span fxFlex class="text-center text-danger" style="color: #f44336;" *ngIf="loginError != ''">{{loginError}}</span>
      <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <ejs-richtexteditor #toolsRTE id="alltoolRTE" formControlName="content" [toolbarSettings]="tools"> </ejs-richtexteditor>
           <!--  <mat-form-field class="w-100">
                <input matInput placeholder="About US Description" formControlName="content">
            </mat-form-field> -->
            <!-- <span class="text-danger" *ngIf="loginForm.submitted && loginForm.controls.content.invalid">About US Description is required</span> -->
        </div>
      </div>
      <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Mission" formControlName="mission">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Vision" formControlName="vision">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput formControlName="purpose" placeholder="Purpose">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="loginForm.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>