<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Disclaimer</h1>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="row">
        	<p>The information and views in this report, our website & all the service which we provide are believed to be reliable, but we do not accept any responsibility (or liability) for errors of fact or opinion. Users have the right to choose the product/s that suits their provisions.</p>
        	<p>The information given herein should be treated as only a factor, while making investment decisions. The report does not provide individually tailor-made investment advice.</p>
        	<p>The share price projections shown are not necessarily indicative of future price performance. The information herein, together with all estimates and forecasts, can change without notice. Analysts or any person related to Reliable Trade Solution might be holding positions in the stocks recommended. It is understood that anyone who is browsing through the site has done so at his free will and does not read any views expressed as a recommendation for which either the site or its owners or anyone will be held responsible for. Any surfing and reading of the information is the acceptance of this disclaimer.</p>
       	</div>
    </div>
</section>