<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex [formGroup]="loginForm" (submit)="onLogin()">
            <div class="text-center">
                <h2 class="app-name">Admin Register</h2>
            </div>
            <span fxFlex class="text-center text-danger" style="color: #f44336;" *ngIf="loginError != ''">{{loginError}}</span>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="First Name" formControlName="firstName">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Last Name" formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex  fxLayoutAlign="end">
                    <a [routerLink]="[ '/login' ]" routerLinkActive="currentUrl!='/register'">Already have an account?</a>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="loginForm.invalid">Sign UP</button>
                </div>
            </div>
        </form>
    </div>
</div>