.card-header {
  /*padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03) !important;;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  backdrop-filter: brightness(0.5) !important;
  color: cornsilk !important;
  font-weight: bolder !important;
}

#hero {
  width: 100%;
  height: 75vh;
  background: url("../../assets/img/membership.jpg") top center !important;
  background-size: cover !important;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: 91% 30% !important;
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #hero {
    height: 40vh !important;
  }
}