<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>About US</h1>
      </div>
    </div>
  </div>
</section>
<section id="about" class="services" *ngIf="about_us">
    <div class="container" data-aos="fade-up">
        <!-- <div class="section-title">
            <h2>About US</h2>
            <p>About US</p>
        </div> -->
        <div class="row">
            <div class="col-md-6">
              <img src="../../assets/img/about.jpg" height="340" width="100%">
            </div>
            <div class="col-md-6">
                <h5 [innerHTML]="about_us.content"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box animated slideInLeft">
                    <div class="icon"><i class="bx bx-bullseye"></i></div>
                    <h4><a href="">Mission</a></h4>
                    <p>{{about_us.mission}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box animated slideInUp">
                    <div class="icon"><i class="bx bx-message-rounded-check"></i></div>
                    <h4><a href="">Vision</a></h4>
                    <p>{{about_us.vision}}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box animated slideInRight">
                    <div class="icon"><i class="bx bx-line-chart-down"></i></div>
                    <h4><a href="">Purpose</a></h4>
                    <p>{{about_us.purpose}}</p>
                </div>
            </div>
        </div>
    </div>
</section>