.curve-left {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.curve-right {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.curve {
  border-radius: 18px;
}
