.display_link {
    // color: white !important;
    color: black !important;
}

.display_hamburger {
    background-color: white !important;
}

.active {
    font-weight: 800;
}
.header_background {
	background: antiquewhite;
}

.navbar-nav {
	white-space: nowrap !important;
}