<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Refund Policy</h1>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services lowerText">
    <div class="container" data-aos="fade-up">
        <div class="row">
        	<p>We value our client’s and are committed to providing world class content. While we take our research seriously, our clients should realize that we do not offer any guarantee or returns based on the site's content and hence cannot offer any refund on subscriptions. Please note that all sales are final. Reliable Trade Solution offers 2 Days of free trial and evaluation for our clients to ensure that our products and services will meet their needs & expectations before they pay for a subscription. By accepting and taking advantage of the free trial and making a payment for the subscription, you agree that there will be <strong>ABSOLUTELY NO REFUNDS AND/OR CANCELLATIONS</strong></p>
        	<p>The information given herein should be treated as only a factor, while making investment decisions. The report does not provide individually tailor-made investment advice.</p>
        	<p>The share price projections shown are not necessarily indicative of future price performance. The information herein, together with all estimates and forecasts, can change without notice. Analysts or any person related to Reliable Trade Solution might be holding positions in the stocks recommended. It is understood that anyone who is browsing through the site has done so at his free will and does not read any views expressed as a recommendation for which either the site or its owners or anyone will be held responsible for. Any surfing and reading of the information is the acceptance of this disclaimer.</p>
       	</div>
    </div>
</section>