<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/home']">
            <mat-icon class="sidenav-icon">home</mat-icon> Home Page
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/create_service']">
            <mat-icon class="sidenav-icon">add_task</mat-icon> Create Service
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/services']">
            <mat-icon class="sidenav-icon">local_shipping</mat-icon> Services
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/create_membership']">
            <mat-icon class="sidenav-icon">add_task</mat-icon> Create Membership
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/memberships']">
            <mat-icon class="sidenav-icon">dynamic_form</mat-icon> Memberships
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/about_us']">
            <mat-icon class="sidenav-icon">error</mat-icon> About US
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/contact_us']">
            <mat-icon class="sidenav-icon">email</mat-icon> Contact US
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/contact_us_mails']">
            <mat-icon class="sidenav-icon">email</mat-icon> Contact US Mails
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/track_records']">
            <mat-icon class="sidenav-icon">timeline</mat-icon> Track Records
        </a>
    </mat-nav-list>
</div>
